* {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			margin: 0px;
			padding: 0px;
		}

		.context{position: absolute;left: 100px;top: 170px;height: 500px;width: 100%;}

		#content1{

		}
		.context .text{position: absolute;left: 380px;
		opacity: 0;
		
		}
		.anim{
			animation:leftright .4s forwards;
		}
		@keyframes leftright{
			from{left:400px;opacity: 0;}
			to{left:380px; opacity: 1;}
		}
		.delay0{
			animation-delay:1s;
		}
		.delay1{
			animation-delay:1s;
		}
		.delay2{
			animation-delay:1.6s;
		}
		.context .text img{
			zoom:.5;
		}
		.context .clock{position: absolute;
        left: 0;
        width: 438px;
        top: 60px;
		}
		.context .clock embed{
		pointer-events: none;
		}
		.context .clock .first{position: absolute;}
		.context .clock .second{position: absolute;width: 67%;left: 65px;top: 28px;}

		.context .hand{position: absolute;left: -13px;bottom: 0;}

		.context .hand img{zoom: .5;}